<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="buttonQ" value="q"/>
    <add key="buttonW" value="w"/>
    <add key="buttonE" value="e"/>
    <add key="buttonA" value="a"/>
    <add key="buttonS" value="s"/>
    <add key="buttonD" value="d"/>
    <add key="buttonU" value="u"/>
    <add key="buttonI" value="i"/>
    <add key="buttonO" value="o"/>
    <add key="buttonJ" value="j"/>
    <add key="buttonK" value="k"/>
    <add key="buttonL" value="l"/>
    <add key="buttonSpace" value=" "/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
